<div class="code-runner mt-3" data-code="{{ code.name }}">
    <textarea class="code-editor">{% if code.code %}{{ code.code }}{% endif %}</textarea>
    <div class="mt-1 d-flex">
        <a href="#" class="mr-auto toggle-terminal">Показать терминал</a>
        <button class="run-code btn btn-primary btn-sm"><i class="fas fa-play"></i> Выполнить код</button>
        <div class="stop-code btn btn-danger btn-sm d-none"><i class="fas fa-stop"></i> Остановить код</div>
    </div>
    <div class="terminal-block mt-3 d-none" data-hidden="true">
        <div class="terminal-overlay">
            <h4 class="terminal-text text-center text-white">Запустите код чтобы посмотреть результаты</h4>
            <div class="terminal-loading spinner-large spinner-border text-white d-none"></div>
        </div>
        <div class="terminal-app"></div>
    </div>
</div>