{% load lessons %}

{% for lesson_block in lesson_blocks %}
<div class="row">
    {% for lesson in lesson_block.lessons.all %}
    <div class="col">
        <div class="lesson card mx-auto">
            {% if request.user|is_lesson_active:lesson %}<a href="{% url 'lesson' lesson.id %}">{% endif %}
                <img src="https://via.placeholder.com/150" alt="{{ lesson.name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ lesson.name }}</h5>
                    {% if request.user|has_progress:lesson %}
                    <h5 class="text-secondary text-center">{{ request.user|get_progress_status:lesson }}</h5>
                    {% endif %}
                </div>
            {% if request.user|is_lesson_active:lesson %}</a>{% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}