{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
    {% block css %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">{% trans "Онлайн образование" %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">{% trans "Выбор курсов" %}</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <span class="mr-2">{{ request.user.username }}</span>
            <a href="{% url 'logout' %}" class="btn btn-danger btn-sm"><i class="fa fa-sign-out-alt"></i> {% trans "Выйти" %}</a>
            {% else %}
            <a href="{% url 'auth' %}" class="btn btn-success btn-sm"><i class="fa fa-sign-in-alt"></i> {% trans "Вход" %}</a>
            {% endif %}
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'popper.js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block js %}{% endblock %}
</body>

</html>